In [18]:
pip install catboost

Requirement already satisfied: catboost in c:\users\paran\anaconda3\lib\site-packages (1.2)
Requirement already satisfied: scipy in c:\users\paran\anaconda3\lib\site-packages (from catboost) (1.10.0)
Requirement already satisfied: six in c:\users\paran\anaconda3\lib\site-packages (from catboost) (1.16.0)
Requirement already satisfied: pandas>=0.24 in c:\users\paran\anaconda3\lib\site-packages (from catboost) (1.5.3)
Requirement already satisfied: matplotlib in c:\users\paran\anaconda3\lib\site-packages (from catboost) (3.7.0)
Requirement already satisfied: numpy>=1.16.0 in c:\users\paran\anaconda3\lib\site-packages (from catboost) (1.23.5)
Requirement already satisfied: graphviz in c:\users\paran\anaconda3\lib\site-packages (from catboost) (0.20.1)
Requirement already satisfied: plotly in c:\users\paran\anaconda3\lib\site-packages (from catboost) (5.9.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\paran\anaconda3\lib\site-packages (from pandas>=0.24->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\paran\anaconda3\lib\site-packages (from pandas>=0.24->catboost) (2022.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\paran\anaconda3\lib\site-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\paran\anaconda3\lib\site-packages (from matplotlib->catboost) (1.0.5)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\paran\anaconda3\lib\site-packages (from matplotlib->catboost) (4.25.0)
Requirement already satisfied: packaging>=20.0 in c:\users\paran\anaconda3\lib\site-packages (from matplotlib->catboost) (22.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\paran\anaconda3\lib\site-packages (from matplotlib->catboost) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\paran\anaconda3\lib\site-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: cycler>=0.10 in c:\users\paran\anaconda3\lib\site-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\paran\anaconda3\lib\site-packages (from plotly->catboost) (8.0.1)
Note: you may need to restart the kernel to use updated packages.

In [19]:
pip install xgboost

Requirement already satisfied: xgboost in c:\users\paran\anaconda3\lib\site-packages (1.7.6)
Requirement already satisfied: scipy in c:\users\paran\anaconda3\lib\site-packages (from xgboost) (1.10.0)
Requirement already satisfied: numpy in c:\users\paran\anaconda3\lib\site-packages (from xgboost) (1.23.5)
Note: you may need to restart the kernel to use updated packages.

In [20]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.svm import LinearSVR, SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor

import warnings
warnings.filterwarnings(action='ignore')

In [21]:
pip install lightgbm

Requirement already satisfied: lightgbm in c:\users\paran\anaconda3\lib\site-packages (4.0.0)
Requirement already satisfied: scipy in c:\users\paran\anaconda3\lib\site-packages (from lightgbm) (1.10.0)
Requirement already satisfied: numpy in c:\users\paran\anaconda3\lib\site-packages (from lightgbm) (1.23.5)
Note: you may need to restart the kernel to use updated packages.

In [24]:
data = pd.read_csv('C:\\Users\\paran\\Downloads\\employee_burnout_analysis.csv')

In [25]:
data

,Employee ID,Date of Joining,Gender,Company Type,WFH Setup Available,Designation,Resource Allocation,Mental Fatigue Score,Burn Rate
0,fffe32003000360033003200,9/30/2008,Female,Service,No,2,3.0,3.8,0.16
1,fffe3700360033003500,11/30/2008,Male,Service,Yes,1,2.0,5.0,0.36
2,fffe31003300320037003900,3/10/2008,Female,Product,Yes,2,NaN,5.8,0.49
3,fffe32003400380032003900,11/3/2008,Male,Service,Yes,1,1.0,2.6,0.20
4,fffe31003900340031003600,7/24/2008,Female,Service,No,3,7.0,6.9,0.52
...,...,...,...,...,...,...,...,...,...
22745,fffe31003500370039003100,12/30/2008,Female,Service,No,1,3.0,NaN,0.41
22746,fffe33003000350031003800,1/19/2008,Female,Product,Yes,3,6.0,6.7,0.59
22747,fffe390032003000,11/5/2008,Male,Service,Yes,3,7.0,NaN,0.72
22748,fffe33003300320036003900,1/10/2008,Female,Service,No,2,5.0,5.9,0.52
22749,fffe3400350031003800,1/6/2008,Male,Product,No,3,6.0,7.8,0.61

In [26]:
data.info

<bound method DataFrame.info of                     Employee ID Date of Joining  Gender Company Type  \
0      fffe32003000360033003200       9/30/2008  Female      Service
1          fffe3700360033003500      11/30/2008    Male      Service
2      fffe31003300320037003900       3/10/2008  Female      Product
3      fffe32003400380032003900       11/3/2008    Male      Service
4      fffe31003900340031003600       7/24/2008  Female      Service
...                         ...             ...     ...          ...
22745  fffe31003500370039003100      12/30/2008  Female      Service
22746  fffe33003000350031003800       1/19/2008  Female      Product
22747          fffe390032003000       11/5/2008    Male      Service
22748  fffe33003300320036003900       1/10/2008  Female      Service
22749      fffe3400350031003800        1/6/2008    Male      Product

      WFH Setup Available  Designation  Resource Allocation  \
0                      No            2                  3.0
1                     Yes            1                  2.0
2                     Yes            2                  NaN
3                     Yes            1                  1.0
4                      No            3                  7.0
...                   ...          ...                  ...
22745                  No            1                  3.0
22746                 Yes            3                  6.0
22747                 Yes            3                  7.0
22748                  No            2                  5.0
22749                  No            3                  6.0

       Mental Fatigue Score  Burn Rate
0                       3.8       0.16
1                       5.0       0.36
2                       5.8       0.49
3                       2.6       0.20
4                       6.9       0.52
...                     ...        ...
22745                   NaN       0.41
22746                   6.7       0.59
22747                   NaN       0.72
22748                   5.9       0.52
22749                   7.8       0.61

[22750 rows x 9 columns]>

In [27]:
def preprocess_inputs(df):
    df = df.copy()
    
    # Drop Employee ID column
    df = df.drop('Employee ID', axis=1)
    
    # Drop rows with missing target values
    missing_target_rows = df.loc[df['Burn Rate'].isna(), :].index
    df = df.drop(missing_target_rows, axis=0).reset_index(drop=True)
    
    # Fill remaining missing values with column means
    for column in ['Resource Allocation', 'Mental Fatigue Score']:
        df[column] = df[column].fillna(df[column].mean())
    
    # Extract date features
    df['Date of Joining'] = pd.to_datetime(df['Date of Joining'])
    df['Join Month'] = df['Date of Joining'].apply(lambda x: x.month)
    df['Join Day'] = df['Date of Joining'].apply(lambda x: x.day)
    df = df.drop('Date of Joining', axis=1)
    
    # Binary encoding
    df['Gender'] = df['Gender'].replace({'Female': 0, 'Male': 1})
    df['Company Type'] = df['Company Type'].replace({'Product': 0, 'Service': 1})
    df['WFH Setup Available'] = df['WFH Setup Available'].replace({'No': 0, 'Yes': 1})
    
    # Split df into X and y
    y = df['Burn Rate']
    X = df.drop('Burn Rate', axis=1)
    
    # Train-test split
    X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, shuffle=True, random_state=1)
    
    # Scale X
    scaler = StandardScaler()
    scaler.fit(X_train)
    X_train = pd.DataFrame(scaler.transform(X_train), index=X_train.index, columns=X_train.columns)
    X_test = pd.DataFrame(scaler.transform(X_test), index=X_test.index, columns=X_test.columns)
    
    return X_train, X_test, y_train, y_test

In [28]:
X_train, X_test, y_train, y_test = preprocess_inputs(data)

In [29]:
X_train

,Gender,Company Type,WFH Setup Available,Designation,Resource Allocation,Mental Fatigue Score,Join Month,Join Day
8275,-0.954022,-1.379211,-1.087295,0.725025,0.768001,0.475128,0.433442,-0.649693
21284,1.048194,0.725052,-1.087295,1.604608,1.270205,1.131455,1.596251,-0.536187
16802,1.048194,0.725052,-1.087295,-0.154557,0.768001,0.420434,1.305549,0.371860
3271,1.048194,-1.379211,-1.087295,1.604608,2.274612,1.733089,0.142739,1.620424
5302,-0.954022,-1.379211,-1.087295,-0.154557,-0.236406,0.475128,0.724144,-0.422682
...,...,...,...,...,...,...,...,...
10955,-0.954022,0.725052,-1.087295,-0.154557,0.768001,0.803292,-1.020070,-1.444234
17289,-0.954022,0.725052,0.919713,0.725025,-0.236406,-0.509363,-0.147963,0.712377
5192,-0.954022,0.725052,0.919713,0.725025,0.265797,-1.165690,1.014847,0.031342
12172,1.048194,-1.379211,0.919713,-1.913723,-1.743017,-1.220384,0.433442,-1.671246
235,-0.954022,0.725052,-1.087295,-1.913723,-1.743017,-2.861202,-0.729368,0.031342

In [30]:
y_train

8275     0.61
21284    0.81
16802    0.62
3271     0.73
5302     0.43
         ...
10955    0.58
17289    0.39
5192     0.24
12172    0.18
235      0.00
Name: Burn Rate, Length: 15138, dtype: float64

In [31]:
models = {
    "                     Linear Regression": LinearRegression(),
    " Linear Regression (L2 Regularization)": Ridge(),
    " Linear Regression (L1 Regularization)": Lasso(),
    "                   K-Nearest Neighbors": KNeighborsRegressor(),
    "                        Neural Network": MLPRegressor(),
    "Support Vector Machine (Linear Kernel)": LinearSVR(),
    "   Support Vector Machine (RBF Kernel)": SVR(),
    "                         Decision Tree": DecisionTreeRegressor(),
    "                         Random Forest": RandomForestRegressor(),
    "                     Gradient Boosting": GradientBoostingRegressor(),
    "                               XGBoost": XGBRegressor(),
    "                              LightGBM": LGBMRegressor(),
    "                              CatBoost": CatBoostRegressor(verbose=0)
}

for name, model in models.items():
    model.fit(X_train, y_train)
    print(name + " trained.")

                     Linear Regression trained.
 Linear Regression (L2 Regularization) trained.
 Linear Regression (L1 Regularization) trained.
                   K-Nearest Neighbors trained.
                        Neural Network trained.
Support Vector Machine (Linear Kernel) trained.
   Support Vector Machine (RBF Kernel) trained.
                         Decision Tree trained.
                         Random Forest trained.
                     Gradient Boosting trained.
                               XGBoost trained.
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001683 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 176
[LightGBM] [Info] Number of data points in the train set: 15138, number of used features: 8
[LightGBM] [Info] Start training from score 0.451776
                              LightGBM trained.
                              CatBoost trained.

In [32]:
for name, model in models.items():
    print(name + " R^2 Score: {:.5f}".format(model.score(X_test, y_test)))

                     Linear Regression R^2 Score: 0.87075
 Linear Regression (L2 Regularization) R^2 Score: 0.87075
 Linear Regression (L1 Regularization) R^2 Score: -0.00001
                   K-Nearest Neighbors R^2 Score: 0.85606
                        Neural Network R^2 Score: 0.87254
Support Vector Machine (Linear Kernel) R^2 Score: 0.86880
   Support Vector Machine (RBF Kernel) R^2 Score: 0.88430
                         Decision Tree R^2 Score: 0.81553
                         Random Forest R^2 Score: 0.89836
                     Gradient Boosting R^2 Score: 0.90257
                               XGBoost R^2 Score: 0.90310
                              LightGBM R^2 Score: 0.90912
                              CatBoost R^2 Score: 0.90822